/output
/bin
/build
/gui/__pycache__
/gui/build
/gui/dist
/gui/p2c.exe
/gui/grammar.json
/gui/logo.png
/gui/output
temp*
/node_modules
/package*.json

# VSCode
/.vscode


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

